.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  font-family: "montserrat-medium", sans-serif;
}

.game-name {
  color: #39b54a;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  white-space: nowrap;
}

.buttonContainer,
.moveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.move-icon {
  height: 6.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-left: 2rem;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.move-button {
  border: 3px solid white;
  background-color: transparent;
  border-radius: 13rem;
  width: 13rem;
  height: 13rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4rem;
}

.moves {
  font-size: 2rem;
  font-weight: 500;
}

.score {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  white-space: nowrap;
}

@media only screen and (max-width: 500px) {
  .move-button {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .move-icon {
    height: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .game-name {
    font-size: 2.5rem;
  }
}